.venv/
.vscode/settings.json
.vscode/tags
*.pyc

# Generated on first run
skyfield-data/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
environment
